@import "../../../../assets/sass/colors.sass"
.museum-list
  .museum-list-elem
    overflow: auto
    height: calc(100vh - 100px)

  .count-display
    .value
      color: $purple
    margin-bottom: 10px
    margin-right: 10px
    text-align: right
