@import "../assets/sass/colors.sass"

.app-header
  background-color: $black
  width: 100vw
  padding: 10px
  .nav-bar
    text-align: center
    background-color: $black
    width: 100vw
    ul
      display: inline-block
      list-style: none
      li
        display: inline-block
        min-width: 30px
        margin: 0 10px
        .link
          color: $white
          text-decoration: none
          &.active
            color: $purple
