@import "../../../../../assets/sass/colors.sass"

.museum-list-element
  position: relative
  background-color: $white
  margin-bottom: 10px
  margin-right: 10px
  &:hover
    background-color: $light-grey
  width: inherit
  border: 1px solid $white
  cursor: pointer
  overflow-x: hidden

  .header
    position: relative
    display: flex
    flex-direction: column
    top: 0px
    left: 6px
    padding: 20px
    padding-top: 10px
    padding-bottom: 0

    .title
      position: relative
      color: $purple
      font-size: 26px
      font-weight: 800
      line-height: 35px

  .content-data
    left: 6px
    padding: 20px
    padding-top: 10px
    //background-color: #505050
    margin-top: 5px
    .row
      position: relative
      display: flex
      min-height: 40px

      .col
        position: relative
        color: $light-grey-text-color
        font-size: 12px
        line-height: 17px
        //max-width: 400px
        overflow: hidden
        flex: 1

        .field
          margin-top: 10px

        .value-field
          margin-right: 10px
          color: $black
          display: flex