@import "assets/sass/colors.sass"
@import "assets/sass/reset.sass"

body
  overflow: hidden
  background-color: $grey-background
  color: $text-color
  height: 100%
  box-sizing: border-box
  font-weight: 400
  margin: 0
