.app-date-range-picker
  .field
    margin-left: 10px
  .duration-field
    font-size: 13px
    width: 50px
    height: 30px
    text-align: center

  display: inline-block
  margin: 10px
  .date-picker-widget
    display: inline-block
    .react-datepicker-wrapper
      .react-datepicker__input-container
        input
          font-size: 13px
          min-width: 200px
          height: 30px
          text-align: center
    .react-datepicker
      font-size: 13px